In [68]:
#quiz 자신의 가족 데이터를작성
#1전체출력 2각컬럼 출력 3각행출력 4특정값 출력 5각컬럼의 평균
import pandas as pd
data = {'age' : [25, 28, 29, 31],
        'name' : ['지상', '영희', '철수', '길동'],
        'height' : [165, 163, 170, 175]}
x = pd.DataFrame(data, columns = ['name','age','height'])

In [69]:
#1전체출력
x

  name  age  height
0   지상   25     165
1   영희   28     163
2   철수   29     170
3   길동   31     175

In [70]:
#2각 컬럼 출력
x.name

0    지상
1    영희
2    철수
3    길동
Name: name, dtype: object

In [71]:
#3각 행 출력
print(x.loc[0])

name       지상
age        25
height    165
Name: 0, dtype: object

In [72]:
#4특정값 출력
x.name[0]

'지상'

In [73]:
#5각 컬럼의 평균 구하기
print(x.mean(axis=0))

age        28.25
height    168.25
dtype: float64